@charset "UTF-8";
.on{
	font-size: 20px;
}
#onAdmin
{
	border-bottom: 1px solid black;
}
.AdminBar
{
	border-bottom: 1px solid black;
}

#Meunselect > #on
{
	font-size: 40px;
}
li{ list-style-type: none;
	margin: 0 auto;}
#mypageTab{
	width:1300px;
	margin:0 auto;
}
#mypageTab>ul{
	width:200px;
	float:left;
	text-align:left;
	display:block;
	margin:0 auto;
	padding:0;
	position:relative;
	border-right: 1px solid black;
}
#mypageTab>ul>li{
	width:200px;
	height:50px;
	line-height:50px;
	list-style:none;
	margin:auto;
	text-align:center;
	position:relative;
	cursor:pointer;
}
#mypageTab>div{
	padding:0;
	display:none;
	/*background-color:pink;*/
	margin-left:300px;
	min-height:600px;
	padding:10px;
	position:relative;

}
#mypageTab>div.on{
	padding:0;
	display:block;
}

/*----------------------프로필(사진) div ------------------ */
#profileDiv{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	width:90%;
	height:200px;
	border:2px solid gray;
	border-radius:5px;
}
#profileDiv>div{
	float:left;
	margin:10px 15px;
	width:500px;
	height:90%;
	border-right:1px solid gray;
}
#profileDiv>div>div:nth-child(1){
	margin-top:20px;
	width:30%;
	height:100%;
	float:left;
}
#profileDiv button{
	width:130px;
	height:130px;
	border-radius:50%;
}
#profileDiv>div>div:nth-child(2){
	margin-top:20px;
	width:60%;
	height:100%;
	float:left;
}
#profileDiv>div:nth-child(2){
	border:none;
}
.Center
{
	margin-top: 80px;
}
/*------------------메인 프로필-------------------------*/
.AdminMainProfile /*오른쪽박스 div*/
{
	width: 90%;
	height: 100%;
	display: inline;
	float: left;
}

.AdminProfileImagBox /*이미지 들어갈 div*/
{
	width: 50%;
	height: 90%;
	display: inline;
	float: left;

}
#AdminProfileImgContent{  /*이미지 id로 고정 싸이즈 때문에고정*/
	width: 350px;
	height: 350px;
	margin: 130px 90px;
}
.AdminProfileAdmintextBox /*글짜 들어갈 div*/
{
	width: 40%;
	height: 90%;
	margin: 20px auto;
	display: inline;
	float: left;
}

.AdminMianTextContent /*글짜 속성*/
{
	position: absolute;
	margin: 180px 180px;
	text-align: center;
	font-size: 24px;
}

/*------------------회원관리 css-------------------------*/

.AdminMember
{
	display: none;
	width: 1000px;
	height: 750px;
	display: inline;
	float: left;
}

.AdminMember >li,ul{
	margin: 0;padding:0;list-style-type: none;
}

#MemberList>li{
	float:left;
	height: 40px;
	width: 11%;
	border-bottom: red 1px solid;
	text-align: center;
	background-color: #5294de;
}
#MemberList
{
	width: 100%;
	height: 500px;
	border-bottom: black 1px solid;
	background-color: #0e3775;
}
#MemberList >li
 {
	 font-size: 20px;
 }
.MemberSerchBox
{
	float: right;
	margin: 0 auto;
}
/*페이징버튼 버튼*/
.MemberListButtonBox
{
	margin: 0 auto;
	width: 100%;
	height: 55px;

}
.MemberListButtonBox>ul>li
{
	margin: 0 auto;
	float: left;
	font-size: 15px;
	padding-left: 80px;
	text-align: center;}
/*------------------신고 게시물 확인--------------------*/
.AdminBoardView
{
	width: 1000px;
	height: 750px;
}

.AdminBoardView >li,ul{
	margin: 0;padding:0;list-style-type: none;
}
#BoardView>li{
	float:left;
	height: 90px;
	width: 11%;
	border-bottom: red 1px solid;
	text-align: center;
	background-color: #5294de;
}
#BoardView
{
	width: 100%;
	height: 500px;
	border-bottom: black 1px solid;
	background-color: #009900;
}
.BoardViewImg
{	width: 100px;
	height: 90px;
}
#BoardView>li
{
	font-size: 20px;
	width: 10%;
}
.BoardViewMenu
{
	height:10%; background-color: red
}
#BoardView>li:nth-of-type(6n+2){width: 15%;overflow: hidden; }
#BoardView>li:nth-of-type(6n+3){width: 45%;  text-align:left;}

#BoardView>li:nth-of-type(1){ height:10%; background-color: red}
#BoardView>li:nth-of-type(2){ height:10%; background-color: red}
#BoardView>li:nth-of-type(3){ height:10%; background-color: red}
#BoardView>li:nth-of-type(4){ height:10%; background-color: red}
#BoardView>li:nth-of-type(5){ height:10%; background-color: red}
#BoardView>li:nth-of-type(6){ height:10%; background-color: red}


/*------------------1:1문의--------------------*/
.QnaButton>li
{
	float: left;
	width: 50px;
	height: 50px;
	font-size: 15px;
}

.QnaSerchBox{
	float: right;
}
.QnaMainBox{
	border: black 1px solid;
	width: 800px;
	height: 600px;
	float: left;
}
.QnaLeftButtonBox{
	border: rebeccapurple 1px solid;
	width: 300px;
	height: 500px;
}

.QnaLeftBox
{
	border: red 1px solid;
	width: 300px;
	height: 600px;
	float: left;
}
.QnaRightBox
{
	border: #5294de 1px solid;
	width: 496px;
	height: 500px;
	float: right;
}
.ButtonWriteSend
{
	width: 120px;
	height: 50px;
	font-size: 11px;
	margin: 0 auto;
} /*작성자 보내기*/
.ButtonBlock
{
	width: 120px;
	height: 50px;
	font-size: 11px;
	margin: 0 auto;
}/*게시물 블러처리*/

.ButtonResultSend
{
	width: 120px;
	height: 50px;
	font-size: 11px;
	margin: 0 auto;
}/*처리결과 전송 */
.QnaButtonBox
{
	margin: 0 auto;
	width: 100%;
	height: 55px;
	background-color: #5294de;
}
.QnaButton
{
	width: 100%;
	height: 55px;
}
.QnaButtonBox>ul>:nth-child(n){padding-left: 10px;}

#QnaList>li
{
	float:left;
	height: 55px;
	width: 100px;
	line-height:50px;
	text-align: center;
	font-size: 10px;
}
.QnaDataBox>li{
	margin: 0 auto;
}


#QnaList>li:nth-child(4n+2){width: 39%;overflow: hidden;}

.QnaBoardContent
{
	height: 330px;
	width: 495px;

}
.QnaTextHidden
{
	overflow: hidden;
}

.RightBoxButton{
	width: 20%;
	height: 20%;
}

.LeftBoxButton{
	width: 20%;
	height: 20%;
}

/*------------------관리자 관리--------------------*/
.AdminMemberUpdate{
	display: none;
}
.AdminMemberUpdate >li,ul{
	margin: 0;padding:0;list-style-type: none; font-size: 10px;
}
.AmdinSerchMemberBox
{
	float:right;
}
#AdminList>li{
	float:left;
	height: 40px;
	width: 140px;
	text-align: center;
}

#AdminList /* 어드민 리스트보는박스*/
{
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	border-top: 10px;
	border: red 1px solid ;
}
#AdminList>li:nth-child(7n+4){width:27%;}

#AdminList>input{
	width: 10%;
}

pagination>li
{
	width: 200px;
}

/*------------------관리자 만들기 css-------------------------*/
.AdminInsert
{

	width: 1000px;
	height: 750px;
	display: inline;
	float: left;
}
#AdminInsertBox
{
	width: 100%;
	height: 400px;
	border:red 1px solid;
}

.AdminListBox{
	width: 100%;
	height: 50px;
	border:red 1px solid;
	overflow-y: scroll;
}
.Modaldiv>div,label
{
	float: left;
}
/*---추천게시판---*/
.SuggestBoardView
{
	width: 1000px;
	height: 750px;
}

.SuggestBoardView >li,ul{
	margin: 0;padding:0;list-style-type: none;
}
#SuggestView>li{
	float:left;
	height: 90px;
	text-align: center;
	font-size: 20px;
	width: 10%;
}
#SuggestView
{
	width: 100%;
	height: 500px;
	border-bottom: black 1px solid;

}

.SuggestViewImg
{	width: 70px;
	height: 90px;
}
.SuggestListButtonBox
{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	/*height: 50px;*/
}

.SuggestListButton>li
{
	margin: 0 auto;
	float: left;
	font-size: 20px;
	padding-left: 80px;
	text-align: center;
}


.SuggestCallimg
{
	width: 30px;
	height: 30px;
}
#SuggestView>li:nth-of-type(9n+1){width: 5%;line-height: 90px;}
#SuggestView>li:nth-of-type(9n+2){width: 10%;overflow: hidden; background-color: red;line-height: 90px;}
#SuggestView>li:nth-of-type(9n+3){width: 25%; overflow: hidden; text-align:left; }
#SuggestView>li:nth-of-type(9n+4){width: 10%; text-align:center; line-height: 90px;}
#SuggestView>li:nth-of-type(9n+5){width: 10%; text-align:center; line-height: 90px;}
#SuggestView>li:nth-of-type(9n+6){width: 10%; text-align:center; line-height: 90px;}
#SuggestView>li:nth-of-type(9n+7){width: 10%; text-align:center; line-height: 90px;}
#SuggestView>li:nth-of-type(9n+8){width: 10%; text-align:center; line-height: 90px;}
#SuggestView>li:nth-of-type(9n+9){width: 10%; text-align:center; line-height: 90px;}